---
import Layout from '../layouts/Layout.astro';
import CalculatorCard from '../components/CalculatorCard.astro';

const calculators = [
  { name: 'Home Mortgage Loan Calculator', description: 'Find out how feasible your house purchase is in Singapore.', url: '/calculators/mortgage-calculator' },
];

const comingSoonCalculators = [
  { name: 'Income Tax Calculator', description: 'Calculate your tax payable based on your annual income.' },
  { name: 'HDB Loan Eligibility Calculator', description: 'Find out your eligibility for HDB loans.' },
  { name: 'CPF Contribution Calculator', description: 'Calculate your CPF contributions.' },
  { name: 'Retirement Savings Calculator', description: 'Plan for your retirement with our savings calculator.' },
];
---

<Layout title='Perfingo Calculators'>
  <main class="bg-gradient-to-b from-gray-50 to-gray-100 min-h-screen">
    <div class="container mx-auto px-4 py-20 relative overflow-hidden">
      <div class="absolute top-0 left-0 w-full h-full bg-blue-500 opacity-5 transform -skew-y-6"></div>
      <div class="relative z-10">
        <h1 class="py-10 text-5xl md:text-7xl font-extrabold text-center mb-6 bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-teal-400">
          Perfingo Financial Calculators
        </h1>
        <p class="text-xl md:text-2xl text-center text-gray-600 max-w-3xl mx-auto">
          Empower your financial decisions with clarity and confidence
        </p>
      </div>
    </div>

    <section id="available-calculators" class="py-20">
      <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-12 text-gray-800">Available Calculator</h2>
        <div class="flex justify-center">
          <div class="w-full max-w-lg transform hover:scale-105 transition-transform duration-300">
            {calculators.map(calculator => (
              <CalculatorCard 
                name={calculator.name} 
                description={calculator.description} 
                url={calculator.url}
                comingSoon={false}
              />
            ))}
          </div>
        </div>
      </div>
    </section>

    <section id="coming-soon" class="bg-gradient-to-r from-blue-50 to-teal-50 py-20">
      <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-center mb-12 text-gray-800">Coming Soon</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 max-w-4xl mx-auto">
          {comingSoonCalculators.map(calculator => (
            <CalculatorCard name={calculator.name} description={calculator.description} comingSoon={true} />
          ))}
        </div>
      </div>
    </section>

    <section id="cta" class="bg-gradient-to-r from-blue-600 to-teal-400 text-white py-20">
      <div class="container mx-auto px-4 text-center">
        <h2 class="text-4xl font-bold mb-8">Ready to Take Control of Your Finances?</h2>
        <p class="text-xl mb-10 max-w-2xl mx-auto">
          Enjoy our free calculators? Then you will love our full suite of financial tools and services. Sign up for a free account today!
        </p>
        <a href="https://www.perfingo.com/create-account" class="bg-white text-blue-600 py-4 px-10 rounded-full font-semibold text-lg hover:bg-gray-100 transition duration-300 shadow-lg hover:shadow-xl transform hover:-translate-y-1">
          Create a Free Account
        </a>
      </div>
    </section>
  </main>
</Layout>